node_modules
.env

# Hardhat files
/cache
/artifacts

test
contract-call
ignition

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/chain-97
ignition/deployments/chain-137
